.todo-item {
  border-radius: 3px;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  background-color: #331832;
  color: #F2F2F2;
}

.todo-item:hover {
  background-color: #6F346D;
}

#overdue {
  border: 3px solid #F0544F;
}

.todo-content {
  max-width: 75%;
}

.todo-item p {
  color: #F2F2F2;
  margin-left: 1rem;
  display: flex;
  justify-content: flex-start;
}

.todo-item input,
select {
  display: flex;
  justify-content: flex-start;
  width: 75%;
  padding: .5rem;
  margin: .5rem;
  background-color: #F2F2F2;
  border: 0;
}

#due-date {
  font-style: italic;
  font-size: .75rem;
}

.item-actions {
  margin-left: auto;
}

#checkbox {
  margin-top: .5rem;
  font-size: 1.5rem;
}

#delete,
#edit,
#save {
  font-size: 1.5rem;
  margin-top: .5rem;
  margin-left: 1.75rem;
}


#delete:hover,
#edit:hover,
#save:hover,
#checkbox:hover {
  color: #331832;
  cursor: pointer;
}