.todo-form,
.main-nav,
.todo-list {
  display: inline-block;
  justify-content: center;
  width: 70vw;
}

.todo-form,
.todo-list {
  border-radius: 8px;
  background-color: #C6D8D3;
  padding: 1.5rem;
  margin-bottom: 1rem;
}