#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flow-root;
  min-width: 320px;
  min-height: 100vh;
  background-color: #331832;
}

button {
  background-color: #331832;
  color: #F2F2F2;
  font-family: 'Roboto';
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  justify-content: center;
  padding: 1rem 2rem;
  margin: .5rem;
}

button:hover {
  background-color: #6F346D;
}

h1 {
  font-family: 'Roboto';
  color: #F2F2F2;
  letter-spacing: 1px;
  font-size: 2rem;
}

p,
label {
  font-family: 'Roboto';
  margin: .25rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

ol {
  margin: 0px;
  padding: 0px;
}