.metrics-content {
    padding: 3rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#column-left {
  float: left;
  text-align: right;
}

#column-right {
  text-align: left;
  font-weight: bold;
}